.DS_Store
OdetteNew.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/OdetteNew.xcscheme
OdetteNew.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/xcschememanagement.plist
OdetteNew.xcworkspace/xcuserdata/Admin.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/Alamofire.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/AlamofireImage.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/HanekeSwift.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/ObjectMapper.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/Pods-OdetteNew.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/Realm.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/RealmSwift.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/SlideMenuControllerSwift.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/SwiftyJSON.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/xcschememanagement.plist
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist


build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Pods - for those of you who use CocoaPods
Pods